.main{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ct{
    flex:1;
    background: #f7f7f7;
    overflow-y: auto;
}

.fbox{
    background: #fff;
    padding: 0 20px;

}
.ft{
    height: 92px;
    line-height: 92px;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    justify-content: space-between;
}

.ftime{
    color:#1e1e1e;
    font-size: 28px;
    font-weight: 600;
}

.fprice{
    color:#e5722a;
    font-weight: 600;
}
.fstation{
    padding: 18px 0;
}
.fs{
    line-height: 60px;
    display: flex;
    align-items: center;
}
.fs:before {
    content:"上";
    width: 40px;
    height: 40px;
    font-size: 24px;
    display: block;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    transform: scale(.5);
    background: #e5722a;
    color:#fff

}
.fe{
    line-height: 60px;
    display: flex;
    align-items: center;
}
.fe:before {
    content:"下";
    width: 40px;
    height: 40px;
    font-size: 24px;
    display: block;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    transform: scale(.5);
    background: #41aaa9;
    color:#fff

}

.orderInfo{
    height: 186px;
    background: -webkit-linear-gradient(left,#ef9134,#ef6c33);
}
.mblock{
    height: 20px;
}

.orderBottom{
    height: 94px;
    border-top: 1px solid #9d9d9d;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.orderinfo{
    flex: 1;
    display: flex;
    justify-content: space-between;

    padding: 0 20px;
}


.payit{

    height: 52px;
    line-height: 52px;
    text-align: center;
    color:#fff;
    padding:0 18px;
    background: -webkit-linear-gradient(left,#ef9134,#ef6c33);

}

.cancel{
    height: 52px;
    line-height: 52px;
    padding:0 18px;


}
